In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dir = Path('/standard/BDShackathon/data')
id_mapping = pd.read_csv(dir/'leukemia'/'leukemia_ids.csv').set_index('ORIENAvatarKey')
id_mapping

,RNASeq,WES.tumor,WES.germline,WES.somatic
ORIENAvatarKey,,,,
A039956,FT.SA158775R,FT.SA158775D,FT.SA158742,TFT-SA158775D_NFT-SA158742
A039970,FT.SA158776R,FT.SA158776D,FT.SA158743,TFT-SA158776D_NFT-SA158743
A039973,FT.SA158769R,FT.SA158769D,FT.SA158735,TFT-SA158769D_NFT-SA158735
A039977,FT.SA158771R,FT.SA158771D,FT.SA158737,TFT-SA158771D_NFT-SA158737
A049227,FT.SA276601R,FT.SA276601D,FT.SA276583,TFT-SA276601D_NFT-SA276583
...,...,...,...,...
A049250,FT.SA276594R,FT.SA276594D,FT.SA276576,TFT-SA276594D_NFT-SA276576
A039962,FT.SA158754R,FT.SA158754D,FT.SA158733,TFT-SA158754D_NFT-SA158733
A039980,FT.SA158757R,FT.SA158757D,FT.SA158751,TFT-SA158757D_NFT-SA158751
A040093,FT.SA159834R,FT.SA159834D,FT.SA159816,TFT-SA159834D_NFT-SA159816
A040096,FT.SA159836R,FT.SA159836D,FT.SA159819,TFT-SA159836D_NFT-SA159819

In [23]:
def extract_count(patient):
    mapped_id = '-'.join(id_mapping.loc[patient, 'RNASeq'].split('.'))
    df = pd.read_csv(dir/'leukemia'/'molecular'/'rnaseq'/'genes'/f'{mapped_id}.genes.results', sep='\t')
    counts = df.set_index('gene_id')['expected_count'].round().astype(int).rename(patient)
    return counts

extract_count(id_mapping.index[0])

gene_id
ENSG00000000003.15       1
ENSG00000000005.6        0
ENSG00000000419.12    2022
ENSG00000000457.14     319
ENSG00000000460.17     182
                      ...
ENSG00000288459.1        0
ENSG00000288460.1        0
ENSG00000288473.1       21
ENSG00000288484.1        0
ENSG00000288520.1        0
Name: A039956, Length: 60609, dtype: int64

In [24]:
df_raw = pd.DataFrame({patient: extract_count(patient) for patient in id_mapping.index})
df_raw

,A039956,A039970,A039973,A039977,A049227,A040107,A028331,A040095,A040104,A040105,...,A032143,A010844,A010853,A049244,A049245,A049250,A039962,A039980,A040093,A040096
gene_id,,,,,,,,,,,,,,,,,,,,,
ENSG00000000003.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ENSG00000000003.15,1.0,0.0,0.0,8.0,0.0,4.0,10.0,0.0,0.0,24.0,...,53.0,NaN,NaN,1.0,16.0,8.0,33.0,0.0,0.0,0.0
ENSG00000000005.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ENSG00000000005.6,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,4.0,...,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ENSG00000000419.12,2022.0,1963.0,1752.0,1588.0,152.0,638.0,2308.0,1215.0,1101.0,2120.0,...,3281.0,2037.0,2063.0,1406.0,1531.0,1451.0,554.0,1450.0,192.0,170.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ENSG00000288459.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ENSG00000288460.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ENSG00000288473.1,21.0,50.0,16.0,6.0,0.0,14.0,271.0,9.0,19.0,38.0,...,123.0,NaN,NaN,25.0,18.0,71.0,40.0,17.0,0.0,133.0
ENSG00000288484.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ENSG00000288520.1,0.0,28.0,0.0,109.0,37.0,184.0,38.0,199.0,1.0,65.0,...,2.0,NaN,NaN,0.0,119.0,89.0,150.0,0.0,0.0,0.0

In [26]:
df = df_raw.dropna(axis=0, how='any')
df = df[df.sum(axis=1) >= 10].astype(int)
df

,A039956,A039970,A039973,A039977,A049227,A040107,A028331,A040095,A040104,A040105,...,A032143,A010844,A010853,A049244,A049245,A049250,A039962,A039980,A040093,A040096
gene_id,,,,,,,,,,,,,,,,,,,,,
ENSG00000000419.12,2022,1963,1752,1588,152,638,2308,1215,1101,2120,...,3281,2037,2063,1406,1531,1451,554,1450,192,170
ENSG00000000971.15,248,472,97,271,887,185,893,13,134,435,...,2530,204,29,76,319,7627,991,217,114,155
ENSG00000001167.14,721,1089,816,1676,145,803,1243,821,1229,697,...,1580,928,933,3488,1008,2721,849,1438,77,91
ENSG00000001497.16,1928,2485,1917,2695,1954,3571,3775,4252,2426,2736,...,4274,2954,2501,3166,3190,5675,2822,1897,1790,4978
ENSG00000001626.15,0,0,0,8,0,0,46,0,0,0,...,33,1,1,0,0,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ENSG00000285979.1,0,1,0,3,0,0,62,1,1,8,...,9,4,0,1,4,22,1,0,0,0
ENSG00000285990.1,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000285991.1,0,0,0,0,0,0,24,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000285992.1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000285994.1,0,0,0,0,0,0,66,1,0,0,...,1,1,1,0,1,9,0,0,0,0

In [30]:
145//2 + 146//2

145

In [34]:
N = df.shape[1]
rng = np.random.default_rng(329)
conditions = np.concatenate([np.zeros((N//2,), dtype=int), np.ones(((N+1)//2,), dtype=int)])
rng.shuffle(conditions)
metadata = pd.DataFrame({'condition': conditions}, index=df.columns)
metadata

         condition
A039956          0
A039970          0
A039973          0
A039977          0
A049227          0
...            ...
A049250          1
A039962          0
A039980          1
A040093          1
A040096          0

[146 rows x 1 columns]

In [36]:
from pydeseq2.dds import DeseqDataSet
from pydeseq2.default_inference import DefaultInference

inference = DefaultInference(n_cpus=6)
dds = DeseqDataSet(
    counts = df.T,
    metadata = metadata,
    design = "~condition",
    inference = inference,
)